/* BLOCO DE CODIGO */
.mat.bdc {
    margin-top: 5px;
    min-width: 50px;
}

.bdc div {
    display: inline-block;
}

.bdc div.line-numbers {
    padding-left: 5px;
    text-align: right;
}

.bdc div.code {
    padding: 0;
}

.bdc div.line-numbers pre {
    margin: 5px;
}

.bdc div.code pre {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

/* DEFAULT THEME */

.bdc div.line-numbers {
    background: black;
    color: #ffeece;
}

.bdc div.code {
    background: #ffeece;
}

.bdc div.code pre:nth-child(n) {
    background: #ffe8be;
}

.bdc div.code pre:nth-child(2n) {
    background: #fae1b4;
}

/* BLOCO DE CODIGO */
