/* BARRA DE PROGRESSO */
.mat.bdp {
    display: inline-block;
    font-size: 13px;
}

.bdp {
    border-radius: 4px;
}

.bdp > span {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

/* DEFAULT THEME */

.bdp {
    background: orange;
    border: 1px solid #ff7948;
    color: rgb(75, 68, 68);
}

.bdp > span {
    background: rgb(255, 206, 115);
}

/* BARRA DE PROGRESSO */
